*{
	margin: 0;
	padding: 0;
	border: 0;
}

header{
	width: 100%;
	height: 150px;
	font-size: 18px;
	background-color: #FFF;
}

header #logo {
	float: left;
	margin: 30px;
	text-decoration: none;
	color: #999;
	font-family: monospace;
	font-size: 40px;
}

nav{
	float: right;
}

#links ul{
	width: 600px;
	height: 30px;
	list-style: none;
	margin: 14px;
}

#links li a{
	float: left;
	text-align: center;
	text-decoration: none;
	color: #999;
	margin: 5px;
	padding: 30px;
}

#links li a:hover{
	background: #09C;
	color: #FFF;
	border-radius: 4px; 
}

section{
	width: 100%;
	height: auto;
	background-color: #FeF;
}

article{
	padding: 5px 10px 10px 5px;
}

div.esquerda{
	float: left;
	padding: 5px 10px 5px 0px;
}

div.direita{
	float: right;
}

nav.menu{
	width: 200px;
	float: left;
	padding: 5px 10px 4s0px 10px;
}

nav.menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

nav.menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

nav.menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

footer{
	background-color: #000;
	color: #FFF;
	text-align: center;
}
